{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial News Authenticity Checker</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Financial News Authenticity Checker</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'api' %}">Api</a></li>
            <li><a href="{% url 'testing' %}">Test</a></li>
        </ul>
    </nav>

    <main>
        Under works.
    </main>
</body>
</html>
