{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial News Authenticity Tester</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Financial News Authenticity Checker</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'api' %}">Api</a></li>
            <li><a href="{% url 'testing' %}">Test</a></li>
        </ul>
    </nav>

    <form action="{% url 'result' %}" method="get">
        <label for="line">Enter your text:</label><br>
        <input type="text" id="line" name="line" required><br><br>
        <label for="model">Select a model:</label><br>
        <select name="model" id="model">
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Check Authenticity">
    </form>
</body>
</html>
